body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif  ;
}
hr{
  margin: 0;
  padding: 0;
}
.bold{
    font-weight: bolder;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:white;
    border-bottom: 2px #bdbdbd solid;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.navbar_ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
  }

nav li a{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 15px 10px;
  }
.search_icon {
    color: #000;
    padding: 8px 8px;
    text-decoration: none;
}
li input{
    padding: 8px 0px;

  }

input{
  border: none;
}
input:focus{
    outline: none;
}
  

.sign_footer{
  width: 422px;
}

.flex_columm{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.neutre{
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.neutre a {
  color: gray;
  text-decoration: none;
}
.neutre li {
  margin-bottom: 10px;
}

.border{
  border:2px  #bdbdbd solid;
}

.coter{
  display: flex;
  justify-content: space-between;
}

.padding-right{
  padding-right: 15px;
}

.champ input{
  padding-left: 15px;
  width:70%;
  height: 30px;
}

.champ button{
  font-size: 15px;
}