button {
    background-color: aliceblue;
    
  }

  .titre{
    display: flex;
    border: 1px blue solid;
    flex-direction: column;
  }

  .container-flex{
    display: flex;
    border: 1px blue solid;
    flex-direction: row;
    align-content:space-between;

  }

  .produit{
    display: flex;
    flex-direction: column;
    
  }

  .board{
    display: flex;
    align-items: flex-start;

  }

  .item1{
    display: flex;
    flex-direction: row;
    border: 1px red solid;
    justify-content: space-between;
  }

  .prixremove{
    display: flex;
    flex-direction: row;
    border: 1px purple solid;
    justify-content: space-between;
    align-items: baseline;
  }

.block{
  display: flex;
  flex-direction: column;
}

img{
  width: 200px ;
}

.resum input{
  width:70%;
  height: 30px;
}

.total{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reduc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.coloreduc{
  color: gray;
}